/* tablet version */
@media (max-width: 992px){
    /* navbar */
    nav ul{
        flex-direction: column;
        height: 250px;
        gap: 10px;
        width: 30%;
    }
    /* section works */
    .gallery figure{
        width: 40%;
    }
    .servicesTitle, .staffTitle{
        width: 80%;
    }
    /* section services */
    .services{
        height: auto;
        margin: 20px auto;

    }
    .services .service{
        width: 80%;
        text-align: center;
        padding: 20px;
    }
    .services .service p{
        margin-top: 20px;
    }
    .services .service:nth-child(1), .services .service:nth-child(3), .services .service:nth-child(2), .services .service:nth-child(4){
        height: 200px;
    }
    .services .service:nth-child(1):hover, .services .service:nth-child(3):hover{
        height: 200px;
        box-shadow: none;
        background-color: rgb(221, 230, 237);
    }
     
 .services .service:nth-child(2):hover, .services .service:nth-child(4):hover{
        height: 200px;
        box-shadow: none;
        background-color: rgb(157, 178, 191);
    }
   /* section staff */
   .sectionStaff{
    height: auto;
    margin: 20px auto;
 }
 .sectionStaff div{
    padding: 20px;
    opacity: 0.9;
    width: 35%;
    margin: 20px auto;
    height: 350px;
    transition: height 0.5s;
 }
 .sectionStaff div:hover{
     background-color: rgba(82, 109, 130, 0.5);
     box-shadow: none;
     height: 350px;
 }
 .sectionStaff div img{
     border-radius: 50%;
     position: relative;
     bottom: 0;
 }
 .sectionStaff div h3{
     color: rgb(46, 67, 116);
     margin-bottom: 20px;
 }
 .sectionStaff div p{
     margin: auto;
 }
}

/* mobile version */
@media (max-width: 767px){
    nav .logo{
        width: 40%;
    }
    nav ul{
        width: 30%;
    }
    /* section works */
    .gallery figure{
        width: 90%;
    }
    .servicesTitle, .staffTitle{
       font-size: small;
        line-height: 2px;
    }
}