*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
     display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/* Style NavBar */

nav{
    display: flex;
    font-size: x-large;
    height: 55px;
    width: 100%;
    align-items: center;
    text-align: center;
    

}
nav h1{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(163, 0, 0);
    background-color: rgb(255, 202, 202);
    opacity: 0.3;
    width: 30%;
    border-radius: 10px;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 70%;
    height: 90%;
    margin: 5px;
    color: white;
    background-color: white;
    border-radius: 5px;
    opacity: 0.5;
}
nav ul a{
    height: 80%;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: black;

}
nav ul a:hover{ /* For NavBar and Footer */
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



.user{
    margin-left: auto;
    margin-right: 10px;
    border-radius: 50%;
}

/* END of Style NavBar */

/* Style Section 1 (Background) */
.section1{
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    transition: background-image 1s ease-out;
}

.section1-container{
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 140%;
    margin-bottom: 25px;
}
.section1-container{
    margin-top: 20px;
}

#color{
    text-shadow:3px 3px var(--shadow-texte);
}
.section1 p{
    width: 80%;
}
.pages{
    text-align: center;
}
.pages a button{
    height: 50px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    background: linear-gradient(to bottom right, rgb(207, 207, 207),white, #7dc0f3);
    border: none;
    margin-top: 10px;
}
.pages a:nth-child(3) button{
    font-size: 19px;
    background: transparent;
    border: 2px solid #5196ca;
    cursor: auto;
}
.pages a:nth-child(1) button:hover, .pages a:nth-child(2) button:hover{
    font-size: 19px;
    background: #7dc0f3;
    border: 2px solid #5196ca;
    width: 110px;
    transition: width 0.5s;
    cursor: pointer;
}
.btns{
    display: flex;
    gap: 30px;
   /*  border: 2px solid black; */
    width: 159px;
    position: relative;
    margin: 0 20px;
}
.btns span{
     width: 30px;
     height: 30px;
     border-radius: 50%;
}

.btn0, .btn4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    opacity: 0;
    display: block;
   position: relative;
}
.btn0{
    top: 34px;
    right: 24px;
}
.btn4{
    bottom: 34px;
    left: 188px;
}

.btn1, .btn2, .btn3{
     border: 2px solid var(--color-btn);
     background-color: var(--color-btn);  
}
.btn1:hover, .btn2:hover, .btn3:hover{
    cursor: var(--btn-cursor);
    border: 2px solid white;
}



/* END of Style section 1 (Background) */

/* Style section 2 (Our staff) */
/* END of Style section 2 (Our staff) */

.staff-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section2{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5%;
   gap: 5%;
   
}
.section2 div{
    border: 3px solid #67abdf;
    border-radius: 10px;
    background-color: #a4d4f8;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   text-align: left;
   padding: 10px;
}
.section2 div img{
    border-radius: 50%;
    position: relative;
    bottom: 80px;
    left: 30%;
}
.section2 div p{
    position: relative;
    bottom: 50px;
}
.section2 div p a{
    font-size: 16px;
    color: blue;
}
.section2 div p a:hover{
    color: black;
    font-style: italic;
}

/* Style footer */
footer{
    display: flex;;
    background: linear-gradient(to bottom right, rgb(207, 207, 207),white, #7dc0f3);
    height: 50px;
    width: 100%;
    align-items: center;
    margin-top: auto;
}

footer ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 400px;
    height: 100%;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer ul li{
    height:70%;
    width: 100%;
    text-align: center;
  padding: 5px;
}
footer span{
    margin-left: auto;
    margin-right: 2px;
    text-align: center;
    color: rgb(0, 0, 129);
}
i{
    display: none;
}

/* END of Style footer */
@keyframes animleft {
    0% {right: 0}
    100% {right: 62px}  
}
.toleft{
    position: relative;
    animation-name: animleft; 
    animation-duration: 1s; 
   }
@keyframes lastleft {
    0% {left: 188px;
         opacity: 0;}
    50%{opacity: 1;}
    100% {left: 147px;
          opacity: 2;}  
}
.lasttoleft{
    position: relative;
    animation-name: lastleft; 
    animation-duration: 1s; 
   }
   @keyframes firstcancel{
    0%{opacity: 10;
       right: 0;}
       50%{opacity: 1;}
    100%{right:40px;
         opacity: 0;}
  }
  .cancel{
    position: relative;
   animation-name: firstcancel;
   animation-duration: 1s;
  }
   @keyframes animright{
    0% {left: 0}
    100% {left: 62px}
   }
   .toright{
    position: relative;
    animation-name: animright; 
    animation-duration: 1s; 
   }

   @keyframes firstright{
    0% {left: -24px;
        opacity: 0;}
        50%{opacity: 1;}
    100% {left: 20px;
        opacity: 10;}
   }
   .firsttoright{
    position: relative;
    animation-name: firstright; 
    animation-duration: 1s; 
   }
   @keyframes lastcancel{
    0% {left: 0;
        opacity: 10;}
    50%{opacity: 1;}    
    100% {left: 40px;
          opacity: 0;}
   }
   .cancel-last{
    animation-name: lastcancel;
    animation-duration: 1s;
    position: relative;
   }

/* 
@media (max-width: 992px){
    nav h1{
        width: 120px;
    }
 nav ul{
    height: 80%;
 }
    .user{
        margin-right: 5px;
    }
    .section1-container h1{
        font-size: 22px;
    }
    .section1-container p{
        font-size: 18px;
    }
    .section2{
        flex-wrap: wrap;
    }
    .section2 div{
        height: 160px;
        margin-bottom: 30px;
        padding-top: 20px;
    }
    .section2 div img{
        width: 80px;
        height: 80px;
        bottom: 10px;
        left: 70%;
    }
    .section2 div p{
        font-size: 0.8em;
        bottom: 100px;
    }
    .section2 div p a{
        font-size: 0.8em;
    }


} 

@media (max-width: 767px){
    nav h1{
        width: 90px;
    }
    nav ul{
        display: none;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
    .section2 div p{
        padding-top: 30px;
    }
    .section2 div img{
        width: 70px;
        height: 70px;
    }
    .section2 div p{
        font-size: 0.7em;
    }
    .section2 div p a{
        font-size: 0.9em;
    }
    #color{
        display: none;
        height: 0;
    }
    footer ul{
        display: none;
    }
    i{
        font-size: 24px;
        width: 35px;
        text-align: center;
        display: block;
    }
} */